@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: var(--color-blue-800);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --primary: var(--color-blue-300);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

pre:has(.hljs),
.hljs {
    color: #c9d1d9;
    background: #0d1117;
}
pre {
    overflow-x: auto;
    padding: 1rem 0;
}

pre [data-line] {
    padding: 0 1rem;
}

[data-rehype-pretty-code-figure],
[data-rehype-pretty-code-figure] > pre {
    margin: 0;
    padding: 0;
}
[data-rehype-pretty-code-figure] > pre {
    width: 100%;
    overflow: auto;
    padding: var(--spacing);
}

/* recommended by https://rehype-pretty-code.netlify.app/ */
code[data-line-numbers] {
    counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
}

/* code blocks custom styling */
[data-line] {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: transparent;
}

/* 行高亮 */
[data-highlighted-line] {
    background-color: #58404c;
    border-left-color: #d6277f;
}

/* 设置指定id高亮 */
[data-highlighted-line][data-highlighted-line-id="errorLine"] {
    background-color: #6b2424;
    border-left-color: #ff003d;
}

/* 文字高亮 */
[data-highlighted-chars] {
    background-color: #432936;
}
/* 设置指定id文字高亮 */
[data-highlighted-chars][data-chars-id="mySpecialHighlight"] {
    background-color: #874691;
}

/* Overrides for Tailwind Typography */
/* article.prose {
    --tw-prose-body: var(--foreground);
    --tw-prose-headings: var(--primary);
    --tw-prose-lead: var(--foreground);
    --tw-prose-links: var(--primary);
    --tw-prose-bold: var(--foreground);
    --tw-prose-counters: var(--primary);
    --tw-prose-bullets: var(--primary);
    --tw-prose-hr: var(--foreground);
    --tw-prose-quotes: var(--foreground);
    --tw-prose-quote-borders: var(--foreground);
    --tw-prose-captions: var(--foreground);
    --tw-prose-kbd: var(--foreground);
    --tw-prose-code: var(--foreground);
    --tw-prose-pre-code: var(--foreground);
    --tw-prose-th-borders: var(--foreground);
    --tw-prose-td-borders: var(--foreground);
    --tw-prose-pre-bg: var(--background);
} */
